body {
    background: #90CCF4;
    overflow-x: hidden;
}

.container{
    margin: 10px;
    padding: 10px;
    height: 330px;
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 40px;
    border: 1px solid black;   
}

h1 {
    margin-left: 10px;
}

h4 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.row {
    padding: 30px 10% 10px 10%;
}

button {
    font-weight: bold;
    box-shadow: 0 5px lightgray;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
}
  
button:active {
    box-shadow: 0 2px #888;
    transform: translateY(2px);
}
  
select {
    width: 93%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.bottomContainer{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.buyButton {
    background-color:#5DA2D5;
    border: 1px solid black;
    font-weight: bolder;
    width:70%; 
    margin-right: 25px;
    bottom: 0px; 
    position: absolute;
    right: 5px;
    margin-bottom: 30px;
}

.bankButton {
    background-color: #F3D150;
    border: 1px solid black;
    font-weight: bolder;
}

.flex{
    width: 100%;
    margin: 5px;
}

.workButton {
    background-color:#5DA2D5;
    border: 1px solid black;
    font-weight: bolder;
}

.getLoanButton {
    background-color:#F78888;
    border: 1px solid black;
    font-weight: bolder;
}

.image-wrapper {
    width: 100%; 
    height: 100%; 
}

.repayButton {
    background-color:#F78888;
    border: 1px solid black;
    font-weight: bolder;
}

img {
    object-fit: contain;
    width:100%;
}

.price{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
}

.descriptionText {
    font-size: 20px;
}
